<ion-header class="nav-bar">
  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><h2 style="font-weight: 100; font-size: 1.2em;">Locknut | Servicios</h2></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 text-center margin padding text-wrap class="text-div">Servicios Finalizados | Facturas</h2>
  <ion-list>
    <ion-item>
      <ion-card *ngFor="let serv of servicio.listFactura" (click)="detalles(serv.idServicio)">
        <ion-card-header text-wrap text-center>
          Servicio Hecho al Auto: {{serv.marca +" "+serv.modelo+" "+serv.anio}}
        </ion-card-header>
        <ion-card-content text-wrap>
          Fecha: {{serv.fechaServicio}} Codigo Auto: {{serv.codigoAuto}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
<h2 text-center margin padding text-wrap class="text-div">Servicios sin finalizar</h2>
  <ion-list>
    <ion-item>
      <ion-card *ngFor="let serv of servicio.listServicios" (click)="detalles(serv.idServicio)">
        <ion-card-header text-wrap text-center>
          Servicio Hecho al Auto: {{serv.marca +" "+serv.modelo+" "+serv.anio}}
        </ion-card-header>
        <ion-card-content text-wrap>
          Fecha: {{serv.fechaServicio}} Codigo Auto: {{serv.codigoAuto}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
